$app-background: #0D0D0D;

$start-button: #19361E;
$start-button-text: #45C15A;

$inactive-grey-button: #141414;
$inactive-grey-button-text: #999999;
$grey-button: #3D3D3D;
$grey-button-text: #DDDDDD;

$stop-button: #3D1614;
$stop-button-text: #D6332A