@import "constants";

.lap-button-container {
  background-color: $inactive-grey-button;
  border-radius: 50%;
  padding: 2px;
}

.lap-button {
  background-color: $inactive-grey-button;
  color: $inactive-grey-button-text;
  border: 2px solid $app-background;
}

.active {
  background-color: $grey-button;
  color: $grey-button-text;
}