@import "constants";

.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .stopwatch {
    width: 100%;
    height: 100%;
    background-color: $app-background;
  }
}